@import "tailwindcss";

@font-face {
  font-family: 'VictorMono';
  src: url('/fonts/VictorMono-VariableFont_wght.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: "VictorMono", sans-serif;
  --color-light-principal: #EEF1EF;
  --color-light-secundary: #F6E8EA;
  --color-light-third: #F3F7F0;
  --color-light-fourth: #C6D8D3;
  --color-light-text-primary: #F4D35E;
  --color-light-text-secundary: #FAF4D3;
  --color-light-text-third: #8BE8CB;
  --color-dark-principal: #141301;
  --color-dark-secundary: #2D3047;
  --color-dark-third: #19323C;
  --color-dark-fourth: #3A3335;
  --color-dark-text-primary: #523F38;
  --color-dark-text-secundary: #004643;
  --color-dark-text-third: #7EA2AA;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));