---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { getCardInfo } from "../data/helpers/postsData";

const cardsData = getCardInfo();
---

<Layout>
	<section class="flex w-full justify-center items-center">
		<div class="max-w-11/12">
			<h1 class="text-lg font-bold mt-5">
				Bienvenidos navegantes tecnológicos.
			</h1>
			<p class="my-5">
				En esta bitácora encontrarás una guía de tecnologías que he ido
				descubriendo y aplicando con los años, espero que te sea útil.
			</p>
		</div>
	</section>

	<section class="flex w-full justify-center items-center flex-wrap">
		{
			cardsData.map((cardData) => (
				<div class="m-3">
					<Card {...cardData} />
				</div>
			))
		}
	</section>
</Layout>
