---
import type {
    ParagraphType,
    ParagraphStyleType,
} from "../../data/helpers/postsData";
import { TAILWIND_PARAGRAPH_MAP } from "../../constants/mappings";

interface Props {
    type: ParagraphType;
    value: string;
    conf: ParagraphStyleType[];
}

const { type, value, conf } = Astro.props;
const activeClasses = conf.map((c) => TAILWIND_PARAGRAPH_MAP[c]);
---

{
    type === "p" && (
        <p class:list={["mt-3", "max-w-fit", "lg:max-w-4/5", ...activeClasses]}>
            {value}
        </p>
    )
}
