---
import { getCategories, parseRouteName } from "../data/helpers/postsData";

const categories = getCategories();
---

<div class="border-2 border-dark-principal dark:border-light-principal relative group">
    <button
        class="p-1 w-full text-left outline-none hover:bg-light-secundary dark:hover:bg-dark-secundary"
    >
        Categorías
    </button>

    <ul
        class="hidden group-focus-within:block group-hover:block absolute top-full -left-7 w-40 bg-light-principal dark:bg-dark-principal dark:text-light-principal border-2 border-dark-principal dark:border-light-principal z-10"
    >
        {
            categories.map((category) => (
                <li class="p-2 hover:bg-light-secundary dark:hover:bg-dark-secundary">
                    <a
                        class="block w-full"
                        href={`/category/${parseRouteName(category)}`}
                    >
                        {category}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
