---
import Logo from "../assets/logo.svg";
import ThemeIcon from "./ThemeIcon.astro";
import CategoriesMenu from "./CategoriesMenu.astro";
---

<header
    class="z-10 bg-light-principal dark:bg-dark-principal dark:text-light-principal border-b border-dark-third/10 dark:border-light-third/10"
>
    <nav
        class="flex flex-col md:flex-row justify-between items-center w-11/12 mx-auto py-1 gap-2 md:gap-0"
    >
        <h2 class="shrink-0">
            <a
                href="/"
                class="flex items-center font-bold text-lg md:text-xl group"
            >
                <span class="text-center md:text-left leading-tight">
                    Bitácora del Tecnonauta
                </span>
                <Logo
                    width={25}
                    height={25}
                    class="ml-3 transition-transform group-hover:rotate-45 dark:stroke-light-principal"
                />
            </a>
        </h2>

        <div class="flex items-center gap-4">
            <ThemeIcon />
            <CategoriesMenu />
        </div>
    </nav>
</header>
